version: '3'
services:
  express-app:
    build: .
    ports:
      - "3000:3000" 
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://postgresUser:password@postgres:5432/AInutritionists?schema=public 

  postgres:
    image: postgres:16.1
    restart: always
    environment:
      POSTGRES_USER: postgresUser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: AInutritionists
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgresUser -d AInutritionists"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  postgres: